@{
  Layout = "_Layout";
}

@model AirPet.Models.Location

<h4>Add a new Location</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new Location" />
}
@* <p>@Html.ActionLink("Show all categories", "Index")</p> *@
