@{
  Layout = "_Layout";
}
<div class="container-fluid">
  <div class="hero-image">
    <div class="hero-text">
      <h1>See the sights</h1>
      <p>New friends included.</p>
    </div>
  </div>
</div>
 
    <h1>Welcome to AirPET!</h1>
    @* <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
    <p>@Html.ActionLink("See all items", "Index", "Items")</p> *@
 
</div>

