
@using System.Security.Claims

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AirPET</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="nav-logo" src="~/img/AirPetLogo.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/Account">Home</a></li>
            <li><a href="/Locations/Index">Destinations</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            @if(!User.Identity.IsAuthenticated)
            {
              <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            }else
            {
              <li><a href="/Profile/Index"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
              <li><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            }
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
    @RenderBody()
    </div>
  </body>
</html>